---
import { Icon } from "astro-icon";
import Section from "~/components/section.astro";

var feedback;

if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
    const email = data.get("email");
    const list = data.get("list");

    const user = import.meta.env.LISTMONK_USER;
    const password = import.meta.env.LISTMONK_PASSWORD;
    const bearer = btoa(user + ':' + password)

    const options = {
      method: 'POST',
      headers: {
        'Content-Type':'application/json',     
        'Authorization': 'Basic ' + bearer
      },
      body: JSON.stringify({
        email: email,
        name: email,
        status: 'enabled',
        lists: [parseInt(list)]
      })
    }
    console.log('options:', options)

    const response = await fetch('https://inter-respons-ai.up.railway.app/api/subscribers', options);
    const res = await response.json();
    console.log('response:', res)
    
    feedback = res.data ? res.data.email + " added to the survey list." : res.message
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
      feedback = error.message
    }
  }
  console.log('feedback:', feedback)
}
---
<Section title="InterResponsAI'23" id="launch">
  <Icon slot="eyebrow" pack="carbon" name="3d-print-mesh" class="h-full" />
  <Fragment slot="lead">
    The use of LLM tools in Universities for teaching and research
  </Fragment>
  <div class="max-w-prose space-y-4 text-justify text-sm md:text-base">
    <p>
      <a class='underline' href='https://openai.com/blog/chatgpt'>ChatGPT</a> and other AI-powered systems that generate text create <b>challenges and possibilities for teaching</b>, especially for designing exams. What are the solutions and the best practices?
    </p>
    <p>    
      The two main networks of <b>Institutes for Advanced Studies</b>, the University-based Institutes for Advances Study (<a href='http://www.ubias.net' target='new' class='underline'>UBIAS</a>) and the European Network of Institutes Advanced Studies (<a href='http://netias.science' target='new' class='underline'>NETIAS</a>) are making a quick survey in which <b>higher education institutions, teachers, and administrators worldwide</b> can share their practices.
    </p>
    <p>
      This is a <b>non-profit and academic initiative to share good practices</b>. The survey is open to any <b>higher institution worlwide</b> (even those that do not belong to the two networks) and participants will have access to the results. 
    </p>
    <p>  
      We are aware practice may differ between units and departments, and that you may not be aware of what other units are doing. The questionnaire is only for <b>your own knowledge and/or practice (teaching and research) in your own unit</b>.
    </p>
    <p>
      The questionnaire will be launched very soon. To receive a link to answer it when it is ready, please <b>register with your email</b>:
    </p>
  </div>
  <form
    method="POST" 
    class="w-full grid gap-2 grid-cols-1 sm:grid-cols-2 sm:max-w-prose">
    <div>
      <input type="hidden" name="list" value='3' />
      <input 
      type="email"
      name="email" 
      required 
      placeholder="contact@academy.science" 
      class="w-full focus:outline-none focus:border-yellow-500 p-2 border-2 border-current text-sm md:text-base text-center rounded-md"/>
    </div>
    <input type="submit" class="bg-yellow-500 text-black p-2 rounded-md border-2 border-yellow-500 font-bold" value="Get the survey"/>
    {feedback && 
      <span class="sm:col-span-2 bg-yellow-100 border-2 border-yellow-500 rounded text-sm p-2 text-center" role="alert">{feedback}</span>
    }
  </form>
</Section>
