---
export interface Props {
  id: string;
  title: string;
}

const { title, id } = Astro.props;
---

<section
  id={id}
  class="flex flex-col items-center gap-4 sm:gap-8"
>
<div class="flex items-center space-x-8">
  <a href="http://www.ubias.net" target="new"><img src="ubias-logo.png" class="h-16 sm:h-24"/></a>
  <a href="http://netias.science/" target="new"><img src="netias-logo.png" class="h-16 sm:h-24"/></a>
</div>
  <p class="max-w-screen-md text-center font-extrabold text-2xl">
    <slot name="lead" />
  </p>
  <slot />
</section>
